<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @item.item_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @item.image_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @item.rarity_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @item.release_date %>
</p>

<p>
  <strong>Retirement date:</strong>
  <%= @item.retirement_date %>
</p>

<p>
  <strong>Actual price:</strong>
  <%= @item.actual_price %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
